# Lecture 23

### pandas; Selecting Columns; Selecting Rows; Pause; Column Operations; Broadcasting; Boolean Indexing; More Sophisticated Boolean Operations; Iterating Through Rows; Basic Statistics; Dropping Missing Values With .dropna(), Sorting With .sort_values(), Scatter Plot; Summary; Recursion

# 1. pandas

### * pandas (the name comes from "panel data") is a package that allows you create objects called `DataFrames`, which, roughly speaking, function as spreadsheet tables.

In [1]:
# EXAMPLE 1a: A pandas DataFrame

import pandas as pd # "pd" is a widely used nick-name for the pandas module.

netflix_df = pd.read_csv('netflix.csv')

print('############################\nnetflix_df.columns:\n############################\n')
print(netflix_df.columns)

print('\n')

print('############################\nnetflix_df.head():\n############################\n')
print(netflix_df.head())

############################
netflix_df.columns:
############################

Index(['Title', 'Genre', 'Tags', 'Languages', 'Series or Movie',
       'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director',
       'Writer', 'Actors', 'View Rating', 'IMDb Score',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice', 'Release Date',
       'Netflix Release Date', 'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site'],
      dtype='object')


############################
netflix_df.head():
############################

                 Title                                   Genre  \
0     Lets Fight Ghost  Crime, Drama, Fantasy, Horror, Romance
1  HOW TO BUILD A GIRL                                  Comedy
2           Centigrade                         Drama, Thriller
3                ANNE+                                   Drama
4                Moxie                 Animation, Short, Drama

                                                Tags         Languages  \
0  Comedy Programmes,Romantic TV Comedies,Horror ...  Swedish, Spanish
1       Dramas,Comedies,Films Based on Books,British           English
2                                          Thrillers           English
3        TV Dramas,Romantic TV Dramas,Dutch TV Shows           Turkish
4  Social Issue Dramas,Teen Movies,Dramas,Comedie...           English

  Series or Movie  Hidden Gem Score  \
0          Series               4.3
1           Movie               7.0
2           Movie               6.4
3          Series               7.7
4           Movie               8.1

                                Country Availability       Runtime  \
0                                           Thailand  < 30 minutes
1                                             Canada      1-2 hour
2                                             Canada      1-2 hour
3                                Belgium,Netherlands  < 30 minutes
4  Lithuania,Poland,France,Iceland,Italy,Spain,Gr...      1-2 hour

          Director                      Writer  ... Netflix Release Date  \
0  Tomas Alfredson       John Ajvide Lindqvist  ...             3/4/2021
1    Coky Giedroyc               Caitlin Moran  ...             3/4/2021
2    Brendan Walsh  Brendan Walsh, Daley Nixon  ...             3/4/2021
3              NaN                         NaN  ...             3/4/2021
4    Stephen Irwin                         NaN  ...             3/4/2021

                         Production House  \
0               Canal+, Sandrew Metronome
1  Film 4, Monumental Pictures, Lionsgate
2                                     NaN
3                                     NaN
4                                     NaN

                             Netflix Link  \
0  https://www.netflix.com/watch/81415947
1  https://www.netflix.com/watch/81041267
2  https://www.netflix.com/watch/81305978
3  https://www.netflix.com/watch/81336456
4  https://www.netflix.com/watch/81078393

                              IMDb Link  \
0  https://www.imdb.com/title/tt1139797
1  https://www.imdb.com/title/tt4193072
2  https://www.imdb.com/title/tt8945942
3  https://www.imdb.com/title/tt6132758
4  https://www.imdb.com/title/tt2023611

                                             Summary  IMDb Votes  \
0  A med student with a supernatural gift tries t...    205926.0
1  When nerdy Johanna moves to London, things get...      2838.0
2  Trapped in a frozen car during a blizzard, a p...      1720.0
3  Upon moving into a new place, a 20-something r...      1147.0
4  Inspired by her moms rebellious past and a con...        63.0

                                               Image  \
0  https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...
1  https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
2  https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
3  https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...
4  https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...

                                              Poster  \
0  https://m.media-amazon.com/images/M/MV5BOWM4NT...
1  https://m.media-amazon.com/images/M/MV5BZGUyN2...
2  https://m.media-amazon.com/images/M/MV5BODM2MD...
3  https://m.media-amazon.com/images/M/MV5BNWRkMz...
4  https://m.media-amazon.com/images/M/MV5BODYyNW...

                                  TMDb Trailer Trailer Site
0                                          NaN          NaN
1  https://www.youtube.com/watch?v=eIbcxPy4okQ      YouTube
2  https://www.youtube.com/watch?v=0RvV7TNUlkQ      YouTube
3                                          NaN          NaN
4                                          NaN          NaN

[5 rows x 29 columns]

In [3]:
# EXAMPLE 1b: Printing the DataFrame

import pandas as pd
netflix_df = pd.read_csv('netflix.csv')

print(netflix_df)

                                           Title  \
0                               Lets Fight Ghost
1                            HOW TO BUILD A GIRL
2                                     Centigrade
3                                          ANNE+
4                                          Moxie
...                                          ...
15475                     K-POP Extreme Survival
15476            DreamWorks Shreks Swamp Stories
15477  DreamWorks Happy Holidays from Madagascar
15478                DreamWorks Holiday Classics
15479   DreamWorks Kung Fu Panda Awesome Secrets

                                        Genre  \
0      Crime, Drama, Fantasy, Horror, Romance
1                                      Comedy
2                             Drama, Thriller
3                                       Drama
4                     Animation, Short, Drama
...                                       ...
15475                                     NaN
15476                                     NaN
15477               Animation, Comedy, Family
15478               Animation, Comedy, Family
15479       Animation, Action, Comedy, Family

                                                    Tags         Languages  \
0      Comedy Programmes,Romantic TV Comedies,Horror ...  Swedish, Spanish
1           Dramas,Comedies,Films Based on Books,British           English
2                                              Thrillers           English
3            TV Dramas,Romantic TV Dramas,Dutch TV Shows           Turkish
4      Social Issue Dramas,Teen Movies,Dramas,Comedie...           English
...                                                  ...               ...
15475  TV Dramas,TV Programmes,TV Comedies,Romantic T...               NaN
15476  Animal Tales,Family Comedies,Family Adventures...               NaN
15477  TV Comedies,Kids TV,Animal Tales,TV Cartoons,T...           English
15478  TV Comedies,Kids TV,TV Cartoons,TV Programmes,...           English
15479  TV Comedies,Kids TV,Animal Tales,TV Cartoons,T...           English

      Series or Movie  Hidden Gem Score  \
0              Series               4.3
1               Movie               7.0
2               Movie               6.4
3              Series               7.7
4               Movie               8.1
...               ...               ...
15475          Series               NaN
15476          Series               NaN
15477          Series               8.4
15478          Series               8.2
15479          Series               8.1

                                    Country Availability       Runtime  \
0                                               Thailand  < 30 minutes
1                                                 Canada      1-2 hour
2                                                 Canada      1-2 hour
3                                    Belgium,Netherlands  < 30 minutes
4      Lithuania,Poland,France,Iceland,Italy,Spain,Gr...      1-2 hour
...                                                  ...           ...
15475  South Korea,Argentina,United Kingdom,Australia...  < 30 minutes
15476  Russia,Hong Kong,Hungary,Australia,South Korea...  < 30 minutes
15477  Belgium,Switzerland,United States,Germany,Unit...  < 30 minutes
15478  Belgium,Switzerland,Germany,Argentina,United K...  < 30 minutes
15479  Belgium,Switzerland,Germany,United Kingdom,Fra...  < 30 minutes

              Director                      Writer  ... Netflix Release Date  \
0      Tomas Alfredson       John Ajvide Lindqvist  ...             3/4/2021
1        Coky Giedroyc               Caitlin Moran  ...             3/4/2021
2        Brendan Walsh  Brendan Walsh, Daley Nixon  ...             3/4/2021
3                  NaN                         NaN  ...             3/4/2021
4        Stephen Irwin                         NaN  ...             3/4/2021
...                ...                         ...  ...                  ...
15475              NaN                         NaN  ...            4/14/2015
15476              NaN                         NaN  ...            4/14/2015
15477              NaN                         NaN  ...            4/14/2015
15478              NaN                         NaN  ...            4/14/2015
15479              NaN                         NaN  ...            4/14/2015

                             Production House  \
0                   Canal+, Sandrew Metronome
1      Film 4, Monumental Pictures, Lionsgate
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
15475                                     NaN
15476                                     NaN
15477                                     NaN
15478                                     Fox
15479                                     NaN

                                 Netflix Link  \
0      https://www.netflix.com/watch/81415947
1      https://www.netflix.com/watch/81041267
2      https://www.netflix.com/watch/81305978
3      https://www.netflix.com/watch/81336456
4      https://www.netflix.com/watch/81078393
...                                       ...
15475  https://www.netflix.com/watch/80031595
15476  https://www.netflix.com/watch/70242630
15477  https://www.netflix.com/watch/70259784
15478  https://www.netflix.com/watch/70221348
15479  https://www.netflix.com/watch/70241791

                                  IMDb Link  \
0      https://www.imdb.com/title/tt1139797
1      https://www.imdb.com/title/tt4193072
2      https://www.imdb.com/title/tt8945942
3      https://www.imdb.com/title/tt6132758
4      https://www.imdb.com/title/tt2023611
...                                     ...
15475                                   NaN
15476                                   NaN
15477                                   NaN
15478                                   NaN
15479                                   NaN

                                                 Summary  IMDb Votes  \
0      A med student with a supernatural gift tries t...    205926.0
1      When nerdy Johanna moves to London, things get...      2838.0
2      Trapped in a frozen car during a blizzard, a p...      1720.0
3      Upon moving into a new place, a 20-something r...      1147.0
4      Inspired by her moms rebellious past and a con...        63.0
...                                                  ...         ...
15475  Seung Yeon decides to chase her dream of becom...         NaN
15476  Shrek celebrates Halloween, Puss in Boots is c...         NaN
15477  Madagascar goes wild with holiday spirit in th...        71.0
15478  Join your DreamWorks friends for these four ho...        82.0
15479  In this pair of adventures, Po tells the story...        17.0

                                                   Image  \
0      https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...
1      https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
2      https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...
3      https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...
4      https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...
...                                                  ...
15475  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15476  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15477  https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...
15478  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15479  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...

                                                  Poster  \
0      https://m.media-amazon.com/images/M/MV5BOWM4NT...
1      https://m.media-amazon.com/images/M/MV5BZGUyN2...
2      https://m.media-amazon.com/images/M/MV5BODM2MD...
3      https://m.media-amazon.com/images/M/MV5BNWRkMz...
4      https://m.media-amazon.com/images/M/MV5BODYyNW...
...                                                  ...
15475                                                NaN
15476                                                NaN
15477                                                NaN
15478                                                NaN
15479                                                NaN

                                      TMDb Trailer Trailer Site
0                                              NaN          NaN
1      https://www.youtube.com/watch?v=eIbcxPy4okQ      YouTube
2      https://www.youtube.com/watch?v=0RvV7TNUlkQ      YouTube
3                                              NaN          NaN
4                                              NaN          NaN
...                                            ...          ...
15475                                          NaN          NaN
15476                                          NaN          NaN
15477                                          NaN          NaN
15478                                          NaN          NaN
15479                                          NaN          NaN

[15480 rows x 29 columns]

### * So:

### --- `import pandas as pd` loads the pandas module.
### --- `pd.read_csv()` produces a `DataFrame` object from a Comma Separated Value (or CSV) spreadsheet, the simplest way to create a `DataFrame`
### --- A `DataFrame` is essentially a table.  It has many rows, each with their own row index (which by default is 0-based numbering), and many columns, each with their own name.  Every row has a value for each column.  When you print a `DataFrame`, it shows it as a truncated table.
### --- If `df` is the name of a `DataFrame`, then`df.columns` would provide the column names of this `DataFrame`. (When you load a spreadsheet into a `DataFrame`, pandas is smart enough to figure out that the top row is probably column names, rather than data!)
### --- If you want to look at the first 5 rows of `df` just to see what the data "looks like", use `df.head()`.


<br><br><br><br><br>
<br><br><br><br><br>


# 2. Selecting Columns with Dictionary-like Syntax

### * Think of a `DataFrame` as being almost like a dictionary: *keys* would be the column names, and the *values* would be the list of values in each column.  (Actually, the proper pandas name for the "list" of values is `Series`.)

In [5]:
# EXAMPLE 2a: Dictionary-like syntax

import pandas as pd
netflix_df = pd.read_csv('netflix.csv')

# We're treating netflix_df like a dictionary here.
# The key is a column name, the value is the column itself.
one_col = netflix_df['Title']
print(one_col)

# Note that when you print out the names, you the corresponding row indices are also displayed.

0                                 Lets Fight Ghost
1                              HOW TO BUILD A GIRL
2                                       Centigrade
3                                            ANNE+
4                                            Moxie
                           ...
15475                       K-POP Extreme Survival
15476              DreamWorks Shreks Swamp Stories
15477    DreamWorks Happy Holidays from Madagascar
15478                  DreamWorks Holiday Classics
15479     DreamWorks Kung Fu Panda Awesome Secrets
Name: Title, Length: 15480, dtype: object

In [7]:
# EXAMPLE 2b: More dictionary-like syntax

import pandas as pd
netflix_df = pd.read_csv('netflix.csv')

# Here's something you CAN'T do with dictionaries:
# instead of providing ONE key, you can provide a LIST of them.
# (This of course makes perfect sense for tables.)

smaller_df = netflix_df[ ['Title', 'Director', 'IMDb Score'] ]
print(smaller_df)

                                           Title         Director  IMDb Score
0                               Lets Fight Ghost  Tomas Alfredson         7.9
1                            HOW TO BUILD A GIRL    Coky Giedroyc         5.8
2                                     Centigrade    Brendan Walsh         4.3
3                                          ANNE+              NaN         6.5
4                                          Moxie    Stephen Irwin         6.3
...                                          ...              ...         ...
15475                     K-POP Extreme Survival              NaN         NaN
15476            DreamWorks Shreks Swamp Stories              NaN         NaN
15477  DreamWorks Happy Holidays from Madagascar              NaN         6.8
15478                DreamWorks Holiday Classics              NaN         6.4
15479   DreamWorks Kung Fu Panda Awesome Secrets              NaN         6.2

[15480 rows x 3 columns]

### * If `df` is a `DataFrame`:

### --- `df[ <column_name> ]` produces a new smaller `DataFrame`: one that contains only one column, with the given name.  Because this is a `DataFrame`, it also still has row indices.
### --- `df[ <list> ]` also produces a smaller `DataFrame`, which contains all the columns whose names are in `<list>`.

<br><br><br><br><br>
<br><br><br><br><br>




# 3. Selecting Rows with `.iloc[]`

### * If you want to select a subset of rows from a `DataFrame`, we'll use `.iloc[]` (short for "index location").

In [9]:
# EXAMPLE 3a: .iloc[] and .at[]

import pandas as pd
netflix_df = pd.read_csv('netflix.csv')

# This is how you select just row 5540 (actually, the sixth row)
print('############################\nRow 5540:\n############################\n')
print(netflix_df.iloc[5540])   # Note the SQUARE brackets: .iloc isn't a function!


# And this is how you select several rows
print('\n############################\nRows 840-850:\n############################\n')
print(netflix_df.iloc[840:850])

############################
Row 5540:
############################

Title                                                           Its Bruno!
Genre                                                               Comedy
Tags                                   TV Comedies,US TV Shows,US TV Shows
Languages                                                          English
Series or Movie                                                     Series
Hidden Gem Score                                                       7.5
Country Availability     India,Lithuania,Portugal,Brazil,Israel,Argenti...
Runtime                                                       < 30 minutes
Director                                                               NaN
Writer                                                         Solvan Naim
Actors                     Solvan Naim, Donnell Rawlings, Bruno, Sam Eliad
View Rating                                                          TV-MA
IMDb Score                                                             7.5
Rotten Tomatoes Score                                                  NaN
Metacritic Score                                                       NaN
Awards Received                                                        1.0
Awards Nominated For                                                   NaN
Boxoffice                                                              NaN
Release Date                                                     17-May-19
Netflix Release Date                                             5/17/2019
Production House                                                       NaN
Netflix Link                        https://www.netflix.com/watch/80999455
IMDb Link                            https://www.imdb.com/title/tt10186846
Summary                  An old-school Brooklyn native devotes his days...
IMDb Votes                                                          2501.0
Image                    https://occ-0-1490-1489.1.nflxso.net/dnm/api/v...
Poster                   https://m.media-amazon.com/images/M/MV5BZmY1Nj...
TMDb Trailer                                                           NaN
Trailer Site                                                           NaN
Name: 5540, dtype: object

############################
Rows 840-850:
############################

                                   Title  \
840              Godzilla vs. Destoroyah
841               Godzilla vs. Biollante
842           Godzilla vs. King Ghidorah
843  Godzilla & Mothra: Battle for Earth
844                 Godzilla Raids Again
845        Godzilla vs. Mechagodzilla II
846           Godzilla vs. Mechagodzilla
847                 Godzilla vs. Hedorah
848                   Godzilla vs. Gigan
849                             Godzilla

                                                 Genre  \
840                             Action, Horror, Sci-Fi
841                                     Action, Sci-Fi
842         Action, Adventure, Drama, Sci-Fi, Thriller
843                Action, Adventure, Sci-Fi, Thriller
844                             Action, Horror, Sci-Fi
845                   Action, Adventure, Drama, Sci-Fi
846                    Action, Fantasy, Horror, Sci-Fi
847  Animation, Action, Adventure, Horror, Music, S...
848          Action, Adventure, Family, Horror, Sci-Fi
849                Action, Adventure, Sci-Fi, Thriller

                                                  Tags  \
840  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
841  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
842  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
843                   Sci-Fi & Fantasy,Japanese Movies
844  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
845  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
846  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
847  Sci-Fi & Fantasy,Japanese Movies,Classic Movie...
848  Action & Adventure,Sci-Fi & Fantasy,Action Sci...
849  Action & Adventure,Sci-Fi & Fantasy,Action Sci...

                      Languages Series or Movie  Hidden Gem Score  \
840           Japanese, English           Movie               6.5
841           Japanese, English           Movie               5.8
842           Japanese, English           Movie               5.2
843           English, Japanese           Movie               3.4
844                    Japanese           Movie               5.1
845  Japanese, English, Russian           Movie               6.5
846                    Japanese           Movie               5.5
847                    Japanese           Movie               5.6
848                    Japanese           Movie               6.0
849           English, Japanese           Movie               3.4

    Country Availability   Runtime  \
840                Japan  1-2 hour
841                Japan  1-2 hour
842                Japan  1-2 hour
843                Japan  1-2 hour
844                Japan  1-2 hour
845                Japan  1-2 hour
846                Japan  1-2 hour
847                Japan  1-2 hour
848                Japan  1-2 hour
849                Japan  1-2 hour

                                              Director  \
840  Kazuki Ohmori, Koji Hashimoto, Takao Okawara, ...
841      Kenjirô Ohmori, Kazuki Ohmori, Koji Hashimoto
842    Katsumune Ishida, Kazuki Ohmori, Koji Hashimoto
843                                     Gareth Edwards
844                        Ishirô Honda, Motoyoshi Oda
845                       Kazuki Ohmori, Takao Okawara
846                                         Jun Fukuda
847                     Ishirô Honda, Yoshimitsu Banno
848  Jun Fukuda, Ishirô Honda, Yoshimitsu Banno, Sh...
849                                     Gareth Edwards

                                                Writer  ...  \
840  Hideki Oka, Kazuki Ohmori, Minoru Yoshida, Shi...  ...
841  Shin'ichi Sekizawa, Kazuki Ohmori, Shinichirô ...  ...
842                                      Kazuki Ohmori  ...
843  Shigeru Kayama, Takeo Murata, Dave Callaham, M...  ...
844  Shigeru Kayama, Ib Melchior, Takeo Murata, Shi...  ...
845  Wataru Mimura, Andrew Smith, Minoru Yoshida, S...  ...
846  Masami Fukushima, Hiroyasu Yamaura, Jun Fukuda...  ...
847                   Takeshi Kimura, Yoshimitsu Banno  ...
848                 Shin'ichi Sekizawa, Takeshi Kimura  ...
849  Shigeru Kayama, Takeo Murata, Dave Callaham, M...  ...

    Netflix Release Date    Production House  \
840            12/1/2020   Toho Company Ltd.
841            12/1/2020             Miramax
842            12/1/2020   Toho Company Ltd.
843            12/1/2020  Legendary Pictures
844            12/1/2020                 NaN
845            12/1/2020   Toho Company Ltd.
846            12/1/2020   Toho Company Ltd.
847            12/1/2020                 NaN
848            12/1/2020                 NaN
849            12/1/2020  Legendary Pictures

                               Netflix Link  \
840  https://www.netflix.com/watch/81318385
841  https://www.netflix.com/watch/70259668
842  https://www.netflix.com/watch/70128707
843  https://www.netflix.com/watch/70128706
844  https://www.netflix.com/watch/70059917
845  https://www.netflix.com/watch/70020236
846  https://www.netflix.com/watch/70012281
847  https://www.netflix.com/watch/70012280
848  https://www.netflix.com/watch/70012279
849  https://www.netflix.com/watch/60035960

                                IMDb Link  \
840  https://www.imdb.com/title/tt0113187
841  https://www.imdb.com/title/tt0097444
842  https://www.imdb.com/title/tt0101962
843  https://www.imdb.com/title/tt0831387
844  https://www.imdb.com/title/tt0048127
845  https://www.imdb.com/title/tt0107027
846  https://www.imdb.com/title/tt0071565
847  https://www.imdb.com/title/tt0067148
848  https://www.imdb.com/title/tt0068371
849  https://www.imdb.com/title/tt0831387

                                               Summary  IMDb Votes  \
840  As humanity races to stop the catastrophic nuc...      5492.0
841  When experimenting with Godzilla cells, scient...      5176.0
842  Humans from the future travel back in time to ...      5702.0
843  Six months after a meteorite strike, larvae of...    377876.0
844  Two pilots make an emergency landing on a remo...      5711.0
845  An infant Godzilla’s telepathic call lures the...      4412.0
846  Alien invaders hatch a plot to conquer Earth w...      5720.0
847  A flying Godzilla comes to save the day when a...      4801.0
848  Using an amusement park as its base, an alien ...      4197.0
849  Awakened by nuclear weapons testing, an ancien...    377876.0

                                                 Image  \
840  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
841  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
842  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
843  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
844  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
845  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
846  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
847  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
848  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...
849  https://occ-0-3467-3466.1.nflxso.net/dnm/api/v...

                                                Poster  \
840  https://m.media-amazon.com/images/M/MV5BYjQzOT...
841  https://m.media-amazon.com/images/M/MV5BODZjOW...
842  https://m.media-amazon.com/images/M/MV5BMjE2Nz...
843  https://m.media-amazon.com/images/M/MV5BN2E4ZD...
844  https://m.media-amazon.com/images/M/MV5BM2QwOG...
845  https://m.media-amazon.com/images/M/MV5BMmEwMG...
846  https://m.media-amazon.com/images/M/MV5BMmNjMW...
847  https://m.media-amazon.com/images/M/MV5BMjUzNz...
848  https://m.media-amazon.com/images/M/MV5BNGU4NT...
849  https://m.media-amazon.com/images/M/MV5BN2E4ZD...

                                    TMDb Trailer Trailer Site
840  https://www.youtube.com/watch?v=NEHDDxNOybk      YouTube
841  https://www.youtube.com/watch?v=ZypCEzH9OKk      YouTube
842  https://www.youtube.com/watch?v=2GWl-wrwN2g      YouTube
843  https://www.youtube.com/watch?v=oHKGx1pzczg      YouTube
844  https://www.youtube.com/watch?v=hH7MA-KlUBo      YouTube
845  https://www.youtube.com/watch?v=TvbWZB1k5t0      YouTube
846  https://www.youtube.com/watch?v=8sb7e0iKqWI      YouTube
847  https://www.youtube.com/watch?v=a6c_LuvJRuQ      YouTube
848  https://www.youtube.com/watch?v=GslZKWemeEs      YouTube
849  https://www.youtube.com/watch?v=oHKGx1pzczg      YouTube

[10 rows x 29 columns]

### * If `df` is a DataFrame, 

### --- `df.iloc[]` can be used to produce a new DataFrame which contains an individual row, or containing a range of rows (via slicing).  You can also combine this with column selection, as before.

<br><br><br><br><br>
<br><br><br><br><br>


# 4.  Pause: Summary, Practice

### * `import pandas as pd` loads the pandas module.
### * `pd.read_csv()` produces a `DataFrame` object from a Comma Separated Value (or CSV) spreadsheet.  
### * `df.columns` would provide the column names of this `df`.
### * `df.head()` provides the first 5 rows of `df`.
### * `df[ <column_name> ]` produces a new smaller `DataFrame`: one that contains only one column, with the given name.  
### * `df[ <list> ]` also produces a smaller `DataFrame`, which contains all the columns whose names are in `<list>`.
### * `df.iloc[]` can be used to produce a new DataFrame which contains an individual row, or containing a range of rows (via slicing).  You can also combine this with column selection.

In [19]:
# EXAMPLE 4a: Basic .iloc[] practice

# How would you print just the Title, Director, and IMDb Score columns for just rows 1230 - 1240?

import pandas as pd
df = pd.read_csv('netflix.csv')
sdf = df.iloc[1230:1240]
print(sdf[['Title','Director','IMDb Score']])

                                    Title           Director  IMDb Score
1230                                Jurek  Pawel Wysoczanski         7.4
1231                         Campo Grande       Sandra Kogut         6.3
1232                   Pagpag: Nine Lives      Frasco Mortiz         5.5
1233                           Rogue City    Olivier Marchal         6.1
1234  Guillermo Vilas: Settling the Score   Matías Gueilburt         7.1
1235                        Blood of Zeus                NaN         7.6
1236          Secrets of the Saqqara Tomb       James Tovell         7.3
1237                          Kaali Khuhi    Terrie Samundra         3.4
1238                            His House        Remi Weekes         6.5
1239                             Holidate                NaN         6.9

<br><br><br><br><br>
<br><br><br><br><br>

# 5. Column Operations

### * pandas allows you to perform operations on columns in a couple of different ways.  

### * If you want to add or subtract or multiply or divide two columns, then pandas will perform those operations item-by-item, and produce a new column from them (if the two columns aren't the same size, funny things can happen).

In [21]:
# EXAMPLE 5a: Column operations

import pandas as pd
n_df = pd.read_csv('netflix.csv')

# Here is a basic column operation: subtracting two columns, to produce a new
# column. (Obviously, ordinary Python lists don't behave this way!!!!)

new_col = n_df['Rotten Tomatoes Score'] - n_df['Metacritic Score']

print(new_col)

0        16.0
1        10.0
2         NaN
3         NaN
4         NaN
         ...
15475     NaN
15476     NaN
15477     NaN
15478     NaN
15479     NaN
Length: 15480, dtype: float64

<br><br><br><br><br>
<br><br><br><br><br>


# 6. Broadcasting

### * You can also perform an operation between a column and a single value. pandas will interpret such an expression to mean that you want to perform that operation between your single value and *each individual entry* of the column, to form a new column.  

### * This is called *broadcasting*.

In [24]:
# EXAMPLE 6a: More column operations

import pandas as pd
n_df = pd.read_csv('netflix.csv')

imdb_col = 10 * n_df['IMDb Score']

# n_df['IMDb Score'] is a column, whereas 10 is just a plain old number.  
# However, pandas is built to deal with operations like this.
# Whenever it sees an expression like "column times number", it multiplies the number by 
# EACH ENTRY of the column. This is called BROADCASTING.
print(imdb_col)

0        79.0
1        58.0
2        43.0
3        65.0
4        63.0
         ...
15475     NaN
15476     NaN
15477    68.0
15478    64.0
15479    62.0
Name: IMDb Score, Length: 15480, dtype: float64

In [28]:
# EXAMPLE 6b: Boolean broadcasting

import pandas as pd
n_df = pd.read_csv('netflix.csv')

# As we'll see, broadcasting is particularly useful for Boolean operations.
# The following, for example, creates a column which contains True and False values.

my_bool_col = n_df['IMDb Score'] > 8.0
print(my_bool_col)

0        False
1        False
2        False
3        False
4        False
         ...
15475    False
15476    False
15477    False
15478    False
15479    False
Name: IMDb Score, Length: 15480, dtype: bool

<br><br><br><br><br>
<br><br><br><br><br>

# 7. Boolean Indexing

### * Suppose that you have a `DataFrame` called `df`, and that you also have a column `b` of Boolean values of the same length.   Then `df[b]` will produce a new `DataFrame` with fewer rows: specifically, it will keep all the rows of `df` where `b` has the value `True`, and throw out all the values of `df` where `b` has the value `False`.  

### * This is called *Boolean indexing*.

### * Note: before, when we wrote something like `df[ ]`, we were selecting **columns**, whereas now we're using `df[  ]` to select **rows**.  

### * The difference is what goes inside those square brackets: pandas is smart enough to know that if there is a list of strings, it's selecting columns, and if there is a pandas column containing Boolean values, it's selecting rows.

In [44]:
# EXAMPLE 7a: Boolean indexing with DataFrames

import pandas as pd
n_df = pd.read_csv('netflix.csv')

# First, identify the movie with an IMDb Score of at least 8

my_bool_col = n_df['IMDb Score'] >= 8.0
n_df = n_df[my_bool_col]
print(n_df)

# Now, select the movies

                                       Title  \
15                                     Joker
17                          Harrys Daughters
27             Comrades: Almost a Love Story
33           When a Woman Ascends the Stairs
34                                  Yearning
...                                      ...
15409                         House of Cards
15429  The Lord of the Rings: The Two Towers
15444                 Hunter X Hunter (2011)
15451                          Stargate SG-1
15454                         Inazuma Eleven

                                                   Genre  \
15                                Crime, Drama, Thriller
17                    Adventure, Drama, Fantasy, Mystery
27                                        Drama, Romance
33                                                 Drama
34                                                 Drama
...                                                  ...
15409                                              Drama
15429                  Action, Adventure, Drama, Fantasy
15444      Animation, Action, Adventure, Comedy, Fantasy
15451                   Action, Adventure, Drama, Sci-Fi
15454  Animation, Action, Adventure, Fantasy, Sport, ...

                                                    Tags  \
15     Dark Comedies,Crime Comedies,Dramas,Comedies,C...
17                                 Dramas,Swedish Movies
27     Romantic Dramas,Chinese Movies,Dramas,Romantic...
33     Social Issue Dramas,Dramas,Japanese Movies,Cla...
34     Romantic Dramas,Dramas,Romantic Movies,Japanes...
...                                                  ...
15409  US TV Programmes,TV Dramas,TV Programmes,Polit...
15429  Sci-Fi & Fantasy,Action Sci-Fi & Fantasy,Fanta...
15444  Anime,Anime Fantasies,TV Programmes,Anime Seri...
15451  Cult TV Programmes,TV Action & Adventure,US TV...
15454  Anime,Kids TV,TV Programmes,Anime Series,Japan...

                            Languages Series or Movie  Hidden Gem Score  \
15                            English           Movie               3.5
17                            English           Movie               4.4
27       Cantonese, Mandarin, English           Movie               6.7
33                           Japanese           Movie               7.6
34                           Japanese           Movie               8.5
...                               ...             ...               ...
15409                         English          Series               4.3
15429  English, Sindarin, Old English           Movie               4.5
15444               Japanese, English          Series               4.5
15451                         English          Series               4.2
15454               Japanese, Spanish          Series               8.5

                                    Country Availability       Runtime  \
15     Lithuania,Poland,France,Italy,Spain,Greece,Bel...      1-2 hour
17     Lithuania,Poland,France,Italy,Spain,Greece,Cze...      1-2 hour
27                                           South Korea      1-2 hour
33                                                 Japan      1-2 hour
34                                                 Japan      1-2 hour
...                                                  ...           ...
15409  Belgium,Switzerland,United States,Canada,Austr...  < 30 minutes
15429                       Portugal,Italy,Sweden,Turkey       > 2 hrs
15444  Belgium,France,Hong Kong,United States,Germany...  < 30 minutes
15451                                      United States  < 30 minutes
15454  Romania,Russia,Hungary,Lithuania,France,Czech ...  < 30 minutes

                Director                                             Writer  \
15         Todd Phillips  Scott Silver, Jerry Robinson, Todd Phillips, B...
17           David Yates                         Steve Kloves, J.K. Rowling
27     Peter Ho-Sun Chan                                             Ivy Ho
33          Mikio Naruse                                    Ryûzô Kikushima
34          Mikio Naruse                      Zenzô Matsuyama, Mikio Naruse
...                  ...                                                ...
15409                NaN                                      Beau Willimon
15429      Peter Jackson  Peter Jackson, Philippa Boyens, J.R.R. Tolkien...
15444                NaN                                  Yoshihiro Togashi
15451                NaN                     Jonathan Glassner, Brad Wright
15454                NaN                                                NaN

       ... Netflix Release Date  \
15     ...             3/3/2021
17     ...             3/3/2021
27     ...             3/1/2021
33     ...             3/1/2021
34     ...             3/1/2021
...    ...                  ...
15409  ...            4/14/2015
15429  ...            4/14/2015
15444  ...            4/14/2015
15451  ...            4/14/2015
15454  ...            4/14/2015

                                        Production House  \
15     Bron Studios, Creative Wealth Media Finance, D...
17     Heyday Films, Moving Picture Company, Warner B...
27                                                   NaN
33                                                   NaN
34                                                   NaN
...                                                  ...
15409                                                NaN
15429               New Line Cinema, Saul Zaentz Company
15444                                                NaN
15451                                                NaN
15454                                                NaN

                                 Netflix Link  \
15     https://www.netflix.com/watch/81382215
17     https://www.netflix.com/watch/81382102
27     https://www.netflix.com/watch/60020365
33     https://www.netflix.com/watch/70063286
34     https://www.netflix.com/watch/81402109
...                                       ...
15409  https://www.netflix.com/watch/70178217
15429  https://www.netflix.com/watch/60004483
15444  https://www.netflix.com/watch/70300472
15451  https://www.netflix.com/watch/70155599
15454  https://www.netflix.com/watch/80007757

                                  IMDb Link  \
15     https://www.imdb.com/title/tt7286456
17     https://www.imdb.com/title/tt1201607
27     https://www.imdb.com/title/tt0117905
33     https://www.imdb.com/title/tt0054144
34     https://www.imdb.com/title/tt0058349
...                                     ...
15409  https://www.imdb.com/title/tt1856010
15429  https://www.imdb.com/title/tt0167261
15444  https://www.imdb.com/title/tt2098220
15451  https://www.imdb.com/title/tt0118480
15454  https://www.imdb.com/title/tt2189248

                                                 Summary  IMDb Votes  \
15     A practical jokers fake kidnapping at a bachel...    951938.0
17     As two sisters both experience pregnancy, trag...    766594.0
27     Two young Chinese mainlanders transplanted to ...      5047.0
33     Faced with few options, a widowed bar hostess ...      3771.0
34     A widow is tormented by the mean-spirited sche...      1359.0
...                                                  ...         ...
15409  Ruthless Congressman Frank Underwood will stop...    466163.0
15429  Frodo and Sam head to Mordor to destroy the On...   1488712.0
15444  To fulfill his dreams of becoming a legendary ...     58141.0
15451  Stargate Command roars into action when Jack O...     83876.0
15454  A talented young goalkeeper tries to revive hi...      1055.0

                                                   Image  \
15     https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
17     https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
27     https://occ-0-395-988.1.nflxso.net/dnm/api/v6/...
33     https://occ-0-993-988.1.nflxso.net/dnm/api/v6/...
34     https://occ-0-993-988.1.nflxso.net/dnm/api/v6/...
...                                                  ...
15409  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15429  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15444  https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...
15451    http://cdn0.nflximg.net/images/6658/9746658.jpg
15454  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...

                                                  Poster  \
15     https://m.media-amazon.com/images/M/MV5BNGVjNW...
17     https://m.media-amazon.com/images/M/MV5BMGVmMW...
27     https://m.media-amazon.com/images/M/MV5BZjg5MT...
33     https://m.media-amazon.com/images/M/MV5BZTk0ZT...
34     https://m.media-amazon.com/images/M/MV5BZWMzMD...
...                                                  ...
15409  https://images-na.ssl-images-amazon.com/images...
15429  https://images-na.ssl-images-amazon.com/images...
15444  https://images-na.ssl-images-amazon.com/images...
15451  http://ia.media-imdb.com/images/M/MV5BMTc3MjEw...
15454                                                NaN

                                      TMDb Trailer Trailer Site
15     https://www.youtube.com/watch?v=t433PEQGErc      YouTube
17     https://www.youtube.com/watch?v=5NYt1qirBWg      YouTube
27                                             NaN          NaN
33     https://www.youtube.com/watch?v=ooW3aSKfsVA      YouTube
34     https://www.youtube.com/watch?v=22O_q-ux5Tw      YouTube
...                                            ...          ...
15409                                          NaN          NaN
15429  https://www.youtube.com/watch?v=LbfMDwc4azU      YouTube
15444                                          NaN          NaN
15451                                          NaN          NaN
15454                                          NaN          NaN

[1172 rows x 29 columns]

In [46]:
# EXAMPLE 7b: Let's get the names of the movies that have at least 100000 votes on IMDb

# The desired column name is 'IMDb Votes'

import pandas as pd
n_df = pd.read_csv('netflix.csv')

# The desired column name is 'IMDb Votes'

i_df = n_df['IMDb Votes'] >= 100000

# Now, get the titles of the selected movies

print(n_df[i_df])

                                          Title  \
0                              Lets Fight Ghost
15                                        Joker
16                                            I
17                             Harrys Daughters
69                                  Stand by Me
...                                         ...
15453                              3:10 to Yuma
15456                            50 First Dates
15457                                        21
15460  The Twilight Saga: Breaking Dawn: Part 1
15465                            13 Going on 30

                                              Genre  \
0            Crime, Drama, Fantasy, Horror, Romance
15                           Crime, Drama, Thriller
16               Action, Adventure, Fantasy, Sci-Fi
17               Adventure, Drama, Fantasy, Mystery
69                                 Adventure, Drama
...                                             ...
15453                 Action, Crime, Drama, Western
15456                        Comedy, Drama, Romance
15457               Crime, Drama, History, Thriller
15460  Adventure, Drama, Fantasy, Romance, Thriller
15465                      Comedy, Fantasy, Romance

                                                    Tags  \
0      Comedy Programmes,Romantic TV Comedies,Horror ...
15     Dark Comedies,Crime Comedies,Dramas,Comedies,C...
16                                 Dramas,Swedish Movies
17                                 Dramas,Swedish Movies
69                                  Korean Movies,Dramas
...                                                  ...
15453  Westerns,Action Thrillers,Action & Adventure,F...
15456  Romantic Favourites,Romantic Comedies,Comedies...
15457  Dramas,Dramas based on a book,Police Dramas,Po...
15460  Dramas,Romantic Dramas,Dramas based on a book,...
15465  Romantic Comedies,Comedies,Romantic Films,Roma...

                         Languages Series or Movie  Hidden Gem Score  \
0                 Swedish, Spanish          Series               4.3
15                         English           Movie               3.5
16               English, Sanskrit           Movie               2.8
17                         English           Movie               4.4
69                         English           Movie               4.1
...                            ...             ...               ...
15453             English, Chinese           Movie               4.0
15456  English, Hawaiian, Mandarin           Movie               2.7
15457                      English           Movie               2.5
15460          English, Portuguese           Movie               2.0
15465          English, Portuguese           Movie               3.1

                                    Country Availability       Runtime  \
0                                               Thailand  < 30 minutes
15     Lithuania,Poland,France,Italy,Spain,Greece,Bel...      1-2 hour
16     Lithuania,Poland,France,Italy,Spain,Greece,Cze...      1-2 hour
17     Lithuania,Poland,France,Italy,Spain,Greece,Cze...      1-2 hour
69                                           South Korea      1-2 hour
...                                                  ...           ...
15453                              Canada,United Kingdom       > 2 hrs
15456  Hong Kong,South Korea,Japan,United Kingdom,Tha...      1-2 hour
15457  South Korea,Russia,Hong Kong,Portugal,Belgium,...       > 2 hrs
15460  Canada,Romania,Japan,Switzerland,United Kingdo...       > 2 hrs
15465  Hungary,Lithuania,Romania,United Kingdom,Belgi...      1-2 hour

              Director                                             Writer  \
0      Tomas Alfredson                              John Ajvide Lindqvist
15       Todd Phillips  Scott Silver, Jerry Robinson, Todd Phillips, B...
16        George Lucas                                       George Lucas
17         David Yates                         Steve Kloves, J.K. Rowling
69          Rob Reiner       Bruce A. Evans, Stephen King, Raynold Gideon
...                ...                                                ...
15453    James Mangold  Halsted Welles, Derek Haas, Michael Brandt, El...
15456      Peter Segal                                        George Wing
15457   Robert Luketic           Allan Loeb, Ben Mezrich, Peter Steinfeld
15460      Bill Condon                 Stephenie Meyer, Melissa Rosenberg
15465      Gary Winick                        Josh Goldsmith, Cathy Yuspa

       ... Netflix Release Date  \
0      ...             3/4/2021
15     ...             3/3/2021
16     ...             3/3/2021
17     ...             3/3/2021
69     ...            2/28/2021
...    ...                  ...
15453  ...            4/14/2015
15456  ...            4/14/2015
15457  ...            4/14/2015
15460  ...            4/14/2015
15465  ...            4/14/2015

                                        Production House  \
0                              Canal+, Sandrew Metronome
15     Bron Studios, Creative Wealth Media Finance, D...
16                                        Lucasfilm Ltd.
17     Heyday Films, Moving Picture Company, Warner B...
69                         Columbia Pictures Corporation
...                                                  ...
15453                                    Lionsgate Films
15456  Columbia Pictures Corporation, Flower Films, A...
15457        Trigger Street Productions, Michael De Luca
15460                                        Temple Hill
15465       Revolution Studios, Thirteen Productions LLC

                                 Netflix Link  \
0      https://www.netflix.com/watch/81415947
15     https://www.netflix.com/watch/81382215
16     https://www.netflix.com/watch/81382114
17     https://www.netflix.com/watch/81382102
69     https://www.netflix.com/watch/80995482
...                                       ...
15453  https://www.netflix.com/watch/70065114
15456  https://www.netflix.com/watch/60033311
15457  https://www.netflix.com/watch/70084788
15460  https://www.netflix.com/watch/70202142
15465  https://www.netflix.com/watch/60034573

                                  IMDb Link  \
0      https://www.imdb.com/title/tt1139797
15     https://www.imdb.com/title/tt7286456
16     https://www.imdb.com/title/tt0120915
17     https://www.imdb.com/title/tt1201607
69     https://www.imdb.com/title/tt0092005
...                                     ...
15453  https://www.imdb.com/title/tt0381849
15456  https://www.imdb.com/title/tt0343660
15457  https://www.imdb.com/title/tt0478087
15460  https://www.imdb.com/title/tt1324999
15465  https://www.imdb.com/title/tt0337563

                                                 Summary  IMDb Votes  \
0      A med student with a supernatural gift tries t...    205926.0
15     A practical jokers fake kidnapping at a bachel...    951938.0
16     A young man seeking his identity begins a roma...    733336.0
17     As two sisters both experience pregnancy, trag...    766594.0
69     Learning of his imminent departure from life, ...    364302.0
...                                                  ...         ...
15453  In this remake of the 1957 classic, a rancher ...    289344.0
15456  After falling for a pretty art teacher who has...    327916.0
15457  A brilliant group of students become card-coun...    230337.0
15460  Not long after immortal soul mates Bella Swan ...    224372.0
15465  When a geeky teens birthday party goes awry an...    167842.0

                                                   Image  \
0      https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...
15     https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
16     https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
17     https://occ-0-2851-41.1.nflxso.net/dnm/api/v6/...
69     https://occ-0-1361-988.1.nflxso.net/dnm/api/v6...
...                                                  ...
15453  https://occ-0-114-116.1.nflxso.net/dnm/api/v6/...
15456  https://occ-0-138-38.1.nflxso.net/dnm/api/v6/e...
15457  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...
15460  https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...
15465  https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...

                                                  Poster  \
0      https://m.media-amazon.com/images/M/MV5BOWM4NT...
15     https://m.media-amazon.com/images/M/MV5BNGVjNW...
16     https://m.media-amazon.com/images/M/MV5BYTRhNj...
17     https://m.media-amazon.com/images/M/MV5BMGVmMW...
69     https://m.media-amazon.com/images/M/MV5BODJmY2...
...                                                  ...
15453  https://images-na.ssl-images-amazon.com/images...
15456  https://images-na.ssl-images-amazon.com/images...
15457  https://images-na.ssl-images-amazon.com/images...
15460  https://images-na.ssl-images-amazon.com/images...
15465  https://images-na.ssl-images-amazon.com/images...

                                      TMDb Trailer Trailer Site
0                                              NaN          NaN
15     https://www.youtube.com/watch?v=t433PEQGErc      YouTube
16     https://www.youtube.com/watch?v=bD7bpG-zDJQ      YouTube
17     https://www.youtube.com/watch?v=5NYt1qirBWg      YouTube
69     https://www.youtube.com/watch?v=KCxBHM17y-4      YouTube
...                                            ...          ...
15453  https://www.youtube.com/watch?v=jX1m45CwvJ8      YouTube
15456  https://www.youtube.com/watch?v=Q_2AbjYeSMI      YouTube
15457  https://www.youtube.com/watch?v=2v9z9EACSnU      YouTube
15460  https://www.youtube.com/watch?v=PQNLfo-SOR4      YouTube
15465  https://www.youtube.com/watch?v=SApIKVq1iJQ      YouTube

[1517 rows x 29 columns]

<br><br><br><br><br>
<br><br><br><br><br>

# 8. More Sophisticated Boolean Operations: Watch Out!

### * If you want to perform more sophisticated Boolean operations involving multiple columns, you can, but there are a couple of sticking points:

### --- Use parentheses LIBERALLY. 

### --- `and` doesn't work for pandas columns -- use `&` in its place.  Likewise, use `|` in place of `or`, and `~` in place of `not`.

In [1]:
# EXAMPLE 8a: Composite Boolean indexing

import pandas as pd
n_df = pd.read_csv('netflix.csv')


# Let's get the movies that have high IMDb ratings AND high votes

# This feels like it should work.  But it doesn't. 
# #(So, COMMENT IT OUT!)
# select = n_df['IMDb Score'] > 8.0 and n_df['IMDb Votes'] > 100000

# # Instead, you should use the AMPERSAND, &, instead. But, this doesn't work either.
# #(So, COMMENT THIS OUT TOO!)
# select = n_df['IMDb Score'] > 8.0 & n_df['IMDb Votes'] > 100000

# FINALLY: put both individual expressions in parentheses.
select = (n_df['IMDb Score'] > 8.0) & (n_df['IMDb Votes'] > 100000)


# Now, we can use this column to select the best movies.  
print(n_df[select][ ['Title', 'IMDb Score'] ])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

<br><br><br><br><br>
<br><br><br><br><br>

# 9. Iterating Through DataFrames

### * Looping through `DataFrame`s is discouraged.  That being said, given that I'm giving a limited introduction to pandas, perhaps you should be aware of how to loop through a `DataFrame`.

### * Tempting:

In [ ]:
for row in df:
    <do something with <row>>

### * But that probably doesn't do what you want.

In [3]:
# EXAMPLE 9a: Looping through a DataFrame gives column names :(

import pandas as pd
n_df = pd.read_csv('netflix.csv')

for r in n_df:
    print('*', r)
    
# It's going to just print the names of the columns.  That could be useful,
# but it sure wasn't what I was expecting.

* Title
* Genre
* Tags
* Languages
* Series or Movie
* Hidden Gem Score
* Country Availability
* Runtime
* Director
* Writer
* Actors
* View Rating
* IMDb Score
* Rotten Tomatoes Score
* Metacritic Score
* Awards Received
* Awards Nominated For
* Boxoffice
* Release Date
* Netflix Release Date
* Production House
* Netflix Link
* IMDb Link
* Summary
* IMDb Votes
* Image
* Poster
* TMDb Trailer
* Trailer Site

<br><br><br><br><br>
<br><br><br><br><br>

### * So, how can I loop through the rows of a `DataFrame`?  Preferred way is to use `.iterrows()`.


### * If `df` is a `DataFrame`, then

In [ ]:
for idx, r in df.iterrows():

### will loop through the rows of `df`.  For each iteration of the loop, `idx` will be assigned to be the *index* of one row after another, and `r` will be assigned to be the corresponding *row itself*.  

### * If you are interested not in entire rows, but just some specific columns in each row, you can write `r[<col name>]` to retreive a specific entry in the row `r`.

In [5]:
# EXAMPLE 9b: .iterrows()

import pandas as pd
n_df = pd.read_csv('netflix.csv')

shorter_df = n_df[ (n_df['IMDb Score'] > 8.0) & (n_df['IMDb Votes'] > 100000) ]

for idx, r in shorter_df.iterrows():
    print('Row', idx, ':', r['Title']) # idx will be the row index

Row 15 : Joker
Row 17 : Harrys Daughters
Row 69 : Stand by Me
Row 294 : The Hunt
Row 420 : The Elephant Man
Row 696 : Me & You vs The World
Row 864 : Fiction.
Row 1138 : Girls Revenge
Row 1208 : Homeland
Row 1217 : 1917
Row 1256 : Rebecca
Row 1337 : Spotlight
Row 1358 : Aliens
Row 1594 : Parasite
Row 1640 : Cobra Kai
Row 1721 : Joker
Row 1754 : Grave
Row 1903 : Downton Abbey
Row 2789 : 2 дня
Row 2840 : Честное пионерское 2
Row 2843 : Честное пионерское 3
Row 3265 : The Kid
Row 3359 : The Gold Rush
Row 3362 : City Lights
Row 3441 : The 400 Blows
Row 3632 : Howl’s Moving Castle
Row 3811 : Nausicaä of the Valley of the Wind
Row 4230 : The Witcher
Row 4424 : Gods Little Village
Row 4516 : Klaus
Row 4602 : Three Billboards Outside Ebbing, Missouri
Row 4868 : Green Book
Row 5340 : Spider-Man: Into the Spider-Verse
Row 6364 : Sex Education
Row 6634 : Blade Runner: The Final Cut
Row 6834 : Death Note
Row 6858 : Alien
Row 6981 : The Haunting of Hill House
Row 8258 : Aliens
Row 8645 : Monty Python and the Holy Grail
Row 8646 : Monty Pythons Life of Brian
Row 9049 : The End of the F***ing World
Row 9245 : Lagaan
Row 9246 : Taare Zameen Par
Row 9251 : Your Name
Row 9260 : Dark
Row 9265 : Cool Hand Luke
Row 9302 : Marvels The Punisher
Row 9370 : Grave of the Fireflies
Row 9410 : MINDHUNTER
Row 9464 : The Handmaiden
Row 9489 : This Is Us
Row 9600 : The Good Place
Row 9698 : Ozark
Row 9749 : La casa de papel
Row 9769 : Contratiempo
Row 9811 : Dangal
Row 9975 : Hacksaw Ridge
Row 10265 : One Punch Man
Row 10551 : Room
Row 10726 : The Crown
Row 10832 : Memories of Murder
Row 10860 : The Green Mile
Row 11183 : Stranger Things
Row 11259 : Spotlight
Row 11334 : Harry Potter and the Deathly Hallows: Part 2
Row 11423 : Mad Max: Fury Road
Row 11425 : Rick and Morty
Row 11443 : Outlander
Row 11450 : Die Hard
Row 11508 : Blade Runner: Theatrical Cut
Row 11510 : Princess Mononoke
Row 11511 : My Neighbor Totoro
Row 11515 : Spirited Away
Row 11589 : Das Boot: Theatrical Cut
Row 11633 : Gone with the Wind
Row 11976 : Modern Times
Row 11980 : Rashomon
Row 11985 : The Great Dictator
Row 12015 : How to Get Away with Murder
Row 12034 : Interstellar
Row 12053 : Unforgiven
Row 12104 : A Beautiful Mind
Row 12113 : Indiana Jones and the Last Crusade
Row 12135 : 2001: A Space Odyssey
Row 12150 : Indiana Jones and the Raiders of the Lost Ark
Row 12174 : Das Boot: Directors Cut
Row 12177 : Lawrence of Arabia: Restored Version
Row 12186 : Narcos
Row 12346 : Sense8
Row 12350 : Apocalypse Now Redux
Row 12357 : Gone Girl
Row 12455 : Mr. Bean: The Whole Bean
Row 12597 : Rush
Row 12808 : Persona
Row 13250 : Monty Pythons Fliegender Zirkus
Row 13317 : Shameless (U.S.)
Row 13319 : Prisoners
Row 13360 : The Dark Knight Rises
Row 13369 : Requiem for a Dream
Row 13450 : Hannibal
Row 13494 : Community
Row 13510 : The Grand Budapest Hotel
Row 13550 : 12 Years a Slave
Row 13622 : Cinema Paradiso
Row 13647 : Rang De Basanti
Row 13851 : Star Trek: The Next Generation
Row 13857 : Gilmore Girls
Row 13937 : Braveheart
Row 13944 : Peaky Blinders
Row 13948 : Black Mirror
Row 13974 : Parks and Recreation
Row 13976 : Attack on Titan
Row 13977 : Its Always Sunny in Philadelphia
Row 14030 : The Lives of Others
Row 14043 : The Great Escape
Row 14066 : Fullmetal Alchemist: Brotherhood
Row 14086 : Memento
Row 14121 : Taxi Driver
Row 14136 : The Pianist
Row 14149 : The IT Crowd
Row 14150 : Casino
Row 14170 : The Intouchables
Row 14207 : V for Vendetta
Row 14216 : Terminator 2: Judgment Day
Row 14220 : Lock, Stock and Two Smoking Barrels
Row 14242 : The Truman Show
Row 14250 : The Usual Suspects
Row 14263 : Twin Peaks
Row 14267 : Saving Private Ryan
Row 14290 : The Matrix
Row 14291 : The Mentalist
Row 14296 : Silence of the Lambs
Row 14304 : The Shining
Row 14331 : Inception
Row 14350 : Gran Torino
Row 14356 : GoodFellas
Row 14367 : The Lord of the Rings: The Fellowship of the Ring
Row 14375 : Full Metal Jacket
Row 14377 : Fargo
Row 14387 : Eternal Sunshine of the Spotless Mind
Row 14400 : The Departed
Row 14409 : Penny Dreadful
Row 14416 : Downfall
Row 14419 : Django Unchained
Row 14449 : Million Dollar Baby
Row 14465 : Stand by Me
Row 14478 : The Dark Knight
Row 14480 : Batman Begins
Row 14481 : The Big Bang Theory
Row 14490 : A Clockwork Orange
Row 14523 : Brooklyn Nine-Nine
Row 14583 : Suits
Row 14591 : The Prestige
Row 14596 : Psycho
Row 14603 : The Office (U.S.)
Row 14618 : Schindlers List
Row 14621 : The Shawshank Redemption
Row 14624 : Jurassic Park
Row 14633 : Shutter Island
Row 14634 : Into the Wild
Row 14657 : Homeland
Row 14666 : Gladiator
Row 14673 : No Country for Old Men
Row 14677 : Scarface
Row 14684 : Modern Family
Row 14685 : Forrest Gump
Row 14686 : Family Guy
Row 14696 : The Godfather
Row 14708 : How to Train Your Dragon
Row 14715 : Once Upon a Time in the West
Row 14723 : Catch Me If You Can
Row 14727 : White Collar
Row 14729 : How I Met Your Mother
Row 14730 : Criminal Minds
Row 14741 : Back to the Future
Row 14745 : Prison Break
Row 14751 : Inglourious Basterds
Row 14768 : American Beauty
Row 14780 : Sons of Anarchy
Row 14786 : Arrested Development
Row 14808 : The Godfather: Part II
Row 14817 : 24
Row 14833 : There Will Be Blood
Row 14837 : Warrior
Row 14842 : Vikings
Row 14858 : Trainspotting
Row 14866 : Snatch
Row 14872 : Sherlock
Row 14874 : Supernatural
Row 14876 : Spartacus
Row 14889 : Rocky
Row 14900 : Platoon
Row 14916 : The Originals
Row 14966 : Luther
Row 14971 : Leon: The Professional
Row 14992 : The Legend of Korra
Row 15023 : Hotel Rwanda
Row 15061 : Top Gear
Row 15063 : Good Will Hunting
Row 15093 : Pulp Fiction
Row 15102 : Friends
Row 15119 : The Lord of the Rings: The Return of the King
Row 15121 : The Wolf of Wall Street
Row 15138 : Reservoir Dogs
Row 15141 : Pans Labyrinth
Row 15168 : The Walking Dead
Row 15172 : Death Note
Row 15174 : Marvels Daredevil
Row 15243 : BoJack Horseman
Row 15252 : Orphan Black
Row 15255 : Oldboy
Row 15272 : Orange Is the New Black
Row 15285 : Better Call Saul
Row 15289 : The Good, the Bad and the Ugly
Row 15323 : Hachi: A Dogs Tale
Row 15330 : American History X
Row 15383 : Archer
Row 15384 : Amelie
Row 15389 : Avatar: The Last Airbender
Row 15394 : Seven
Row 15406 : Breaking Bad
Row 15409 : House of Cards
Row 15429 : The Lord of the Rings: The Two Towers

In [16]:
# EXAMPLE 9c: Genres

import pandas as pd
n_df = pd.read_csv('netflix.csv')

shorter_df = n_df[ (n_df['IMDb Score'] > 8.0) & (n_df['IMDb Votes'] > 100000) & (n_df['Genre'] == 'Comedy')]


# Let's identify the best movies in a given genre

hmovie = ''
hscore = 0

for idx,r in shorter_df.iterrows():
    if r['IMDb Score'] > hscore:
        hmovie = r['Title']
        hscore = r['IMDb Score']

print(hmovie,hscore)

The Office (U.S.) 8.9

<br><br><br><br><br>

# 10. Basic Statistics

### --- `df.describe()` and `df.corr()` give basic statistical info about the columns (the latter provides correlations between columns).

In [18]:
# EXAMPLE 10a: .describe()

import pandas as pd
n_df = pd.read_csv('netflix.csv')

n_df.describe()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,IMDb Votes
count,13379.000000,13381.000000,6382.000000,4336.000000,6075.000000,7661.000000,1.337900e+04
mean,5.937551,6.496054,59.523034,56.813653,8.764444,13.983161,4.272841e+04
std,2.250202,1.146910,26.999173,17.582545,18.311171,29.821052,1.257012e+05
min,0.600000,1.000000,0.000000,5.000000,1.000000,1.000000,5.000000e+00
25%,3.800000,5.800000,38.000000,44.000000,1.000000,2.000000,4.035000e+02
50%,6.800000,6.600000,64.000000,57.000000,3.000000,5.000000,2.322000e+03
75%,7.900000,7.300000,83.000000,70.000000,8.000000,12.000000,2.089050e+04
max,9.800000,9.700000,100.000000,100.000000,300.000000,386.000000,2.354197e+06

In [27]:
# EXAMPLE 10b: .corr()

import pandas as pd
n_df = pd.read_csv('netflix.csv')

n_df.corr()

ValueError: could not convert string to float: 'Lets Fight Ghost'

<br><br><br><br><br>
<br><br><br><br><br>


# 11. Dropping Missing Values With .dropna(), Sorting With .sort_values(), Scatter Plot

In [ ]:
# EXAMPLE 11a: Dropping Missing Values With .dropna

import pandas as pd
n_df = pd.read_csv('netflix.csv')

# This operation removes all entries where one of the corresponding columns is missing.
scores = n_df.dropna(subset = ['IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score'])

print(scores)

In [ ]:
# EXAMPLE 11b: Sorting Values

import pandas as pd
n_df = pd.read_csv('netflix.csv')
scores = n_df.dropna(subset = ['IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score'])

# This sorts by Rotten Tomatoes Scores, then resolves ties by sorting by Metacritic Score
rtscores = scores.sort_values(by = ['Rotten Tomatoes Score', 'Metacritic Score'], ascending = False)


print(rtscores[['Title', 'Rotten Tomatoes Score', 'Metacritic Score', 'Genre']])

In [ ]:
# EXAMPLE 11c: Plot

import pandas as pd
n_df = pd.read_csv('netflix.csv')
scores = n_df.dropna(subset = ['IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score'])

scores.plot.scatter('Rotten Tomatoes Score', 'Metacritic Score')

# What's that outlier?

In [ ]:
# EXAMPLE 11d: Find the outlier

import pandas as pd
n_df = pd.read_csv('netflix.csv')
scores = n_df.dropna(subset = ['IMDb Score', 'Rotten Tomatoes Score', 'Metacritic Score'])

# FIND THE OUTLIER!

<br><br><br><br><br>
<br><br><br><br><br>

# 12. Final Summary

### * Tons more to say: you can create `DataFrame`s from other sources than CSV spreadsheets; you can create `DataFrame`s from scratch in Python, and then export them to spreadsheets; you can edit entries in a `DataFrame`, and add or delete columns; you can sort, reindex, perform simple statistics, etc. 


### * Look at *Python for Data Analysis*, or the page http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html, as starting points for further study.

### * Final summary (where `df` always denotes some `DataFrame` object):

### --- `import pandas as pd` loads the pandas module.
### --- `pd.read_csv()` produces a `DataFrame` object from a Comma Separated Value (or CSV) spreadsheet.  
### --- `df.columns` would provide the column names of this `df`.
### --- `df.head()` provides the first 5 rows of `df`.
### --- `df[ <column_name> ]` produces a new smaller `DataFrame`: one that contains only one column, with the given name.  
### --- `df[ <list> ]` also produces a smaller `DataFrame`, which contains all the columns whose names are in `<list>`.
### --- `df.iloc[]` can be used to produce a new DataFrame which contains an individual row, or containing a range of rows (via slicing).  You can also combine this with column selection.
### --- You can perform column operations to create new columns.
### --- If you create a Boolean column called `b` (of the same si, then `df[b]` will select the rows from `df` where `b` has the value `True`.
### --- `for idx, r in df.iterrows():` will iterate through the rows of `df`: for each row in `df`, `idx` will be assigned the row index, and `r` will be assigned the row itself.
### --- `df.describe()` and `df.corr()` give basic statistical info about the DataFrame.
### --- `df.dropna(subset = ['Col name 1', 'Col name 2'])` produces a dataframe where rows with missing values in the given columns are dropped.
### --- `df.sort_values(by = ['Col name 1', 'Col name 2'])` sorts the dataframe, first on one column, then resolving ties by sorting on a second column.
### --- `df.plot.scatter('Col name 1', 'Col name 2')` produces a scatter plot of your data set.

<br><br><br><br><br><br><br><br><br><br>

# 13. Recursion

### * Recall that $n!$, read as n factorial, is an important mathematical operation.  How can we implement it as a function?  Well, a loop's not too hard.

In [ ]:
# EXAMPLE 13a: Factorial function

def factorial(n):
    """Return n factorial."""
    product = 1
    # Multiply product by each number between 1 and n. 
    for factor in range (1, n+1):
        product *= factor
    return product

print(factorial(5), ' (should be 120)')
print(factorial(42), ' (should be...big)')
print(factorial(0), ' (0! = 1 by definition)')


<br><br><br><br><br>
<br><br><br><br><br>

### * $n!$ can ALSO be defined by:

* $0! = 1$
* $n! = n \cdot (n-1)!$ if $n \geq 1$

### * For example, $5! = 5\cdot 4 \cdot 3 \cdot 2 \cdot 1 = 5 \cdot (4 \cdot 3 \cdot 2 \cdot 1) = 5\cdot 4!$.  

### * Can you use a function to compute the value of *that same* function?  Let's give it a try!

In [ ]:
# EXAMPLE 1b: Recursive factorial

def rfact(n):
    """Return n factorial, computed recursively."""
    if n <= 1:
        return 1
    else:
        return n * rfact(n-1)
    
print(rfact(4))


### * This is an example of a **recursive function**: this simply means a function that makes a call to itself.  

### * Recursive functions will have some simple base cases (like $1! = 1$) that can be computed without recurvise calls.  

### * Furthermore, an effective recursive function will frequently find the answer to a "big" problem using calls to the same function applied to a "smaller" problem.  (For example, to compute $10!$, first we solve the smaller problem $9!$, and multiply the answer by 10.)